.thunderbirdMessageDisplayActionExample {
    background-color: #d70022;
    color: white;
    font-weight: 400;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.25rem;
    display: flex;
}

.thunderbirdMessageDisplayActionExample_Text {
    flex-grow: 1;
}
