<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title></title>
  <script defer="" src="layout.js" type="application/javascript"></script>
</head>
<body>
  <label id="standard"><input type="radio" name="layout" value="standard"/></button></label>
  <label id="wide"><input type="radio" name="layout" value="wide"/></button></label>
  <label id="vertical"><input type="radio" name="layout" value="vertical"/></button></label>
  <hr />
  <label id="folderPaneVisible"><input type="checkbox"/></label>
  <label id="messagePaneVisible"><input type="checkbox"/></label>
</body>
</html>
